<h3>Autor</h3>
<div id="author">
    <img src="/images/author.jpg" />
    <p>
        Mi nombre es Jonathan Díaz, me dedico al desarrollo web,
        soy muy inquieto y siempre intento estar al día de las últimas tecnologías que están en el mercado.
        Trabajo como desarrollor web en un periodico online.
        En mi tiempo libre juego al baloncesto, me encantan los videojuegos, también programo como hobby.
    </p>
</div>
