<h3>Autor</h3>
<div id="author">
    <img src="/images/author.jpg" />
    <p>
        Mi nombre es Jonathan Díaz, me dedico al desarrollo web,
        soy muy inquieto y siempre intento estar al día de las últimas tecnologías que están en el mercado.
        Trabajo como desarrollor web en un periodico online.
        En mi tiempo libre juego al baloncesto, me encantan los videojuegos, también programo como hobby.
        <br><br>
        Os linkeo un video de un producto tecnológico que estoy esperando con mucha impaciencia, las gafas de microsoft,
        Hololens:
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aThCr0PsyuA" frameborder="0" allowfullscreen></iframe>
</div>
