body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#author img{
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 86px;
}

#author iframe{
  display: block;
  margin: 0 auto;
}

