<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-ico"/>
</head>
<body>
<h2>Quiz: El juego de las preguntas</h2>
<form method="get" action="/quizes/answer">
    <%= respuesta %>
    <a href="/quizes/question">Intentelo otra vez</a>
</form>
</body>
</html>
